{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "indent": "off",
    "spaced-comment": "off",
    "no-useless-escape": "off",
    "require-jsdoc": "off",
    "semi-spacing": "off"
  },
  "extends": ["eslint:recommended", "google"]
}